* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: auto;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
}

.homeHeader ul {
  display: flex;
  list-style: none;
}

.homeHeader li {
  margin-left: 20px;
}

.homeHeader a {
  text-decoration: none;
  color: black;
}